.section2 {
  display: none;
  flex-direction: row;
  min-height: 100vh;

  background-color: var(--bg);
  color: var(--fg2);
  padding: 5px 10px 5px 10px;
}

.section2__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--fg);
  padding: 5px 10px 5px 10px;
}

.section2__divider {
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    /* Rainbow: */ var(--red),
    var(--orange),
    var(--green),
    var(--cyan),
    var(--blue),
    var(--magenta)
  );
  height: 3px;
  width: 80%;
  border-radius: 2px;
}

.uam_logo {
  display: flex;
  width: 17vw;
  align-content: center;
  align-self: center;
  flex-shrink: 0;
  justify-content: center;
  background: var(--white);
  color: var(--fg);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.uam_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section2 h2 {
  font-size: 1.4em;
  font-weight: 900;
  font-family: var(--font-title);
  color: var(--fg);
  color: var(--fg2);
  margin: 0;
}

