.section3 {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--fg2);
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  padding: 5px 10px 5px 10px;
  min-height: 100vh;
}

.section3 h2 {
  font-size: 1.4em;
  font-weight: 900;
  font-family: var(--font-title);
  color: var(--fg);
  color: var(--fg2);
  margin: 0;
}

.section3__images {
  position: relative;
}

.orbiter {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -28px;
  margin-top: -28px;
  transform-origin: center center;
  z-index: 0;
  pointer-events: none;
  transition: z-index 0.3s;
}

.orbit {
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  box-sizing: border-box;
  transform-origin: center center;
  background: var(--light_grey);
  color: var(--dark_grey);
  width: 56px;
  height: 56px;
  transition:
    width 0.3s,
    height 0.3s;
  pointer-events: all;
  overflow: hidden;
}

.orbit img {
  margin: 0;
  width: 40px;
  height: 40px;
}

.orbit p {
  font-size: 14px;
  font-family: var(--font-body);
  transition: all 0.1s;
  opacity: 0;
  margin-left: 0;
  width: 0;
  height: 0;
  transform: translateX(-10px);
  pointer-events: auto;
}

.orbiter.active {
  z-index: 100;
}

.orbit:hover,
.orbit.active {
  z-index: 10;
  width: min(300px, 100vw);
  height: 100px;
  border: 2px solid var(--light_grey);
  transition: all 0.3s;
}

.orbit:hover p,
.orbit.active p {
  transition: all 0.2s ease 0.3s;
  opacity: 1;
  margin-left: 8px;
  transform: translateX(0px);
  width: auto;
  height: auto;
  pointer-events: none;
}
