/* TODO: Fonts */
@import url(../fonts/Inter/inter.css);
@import url(../fonts/CodeSaver/codesaver.css);
@import url(../fonts/Azeret_Mono/azeretmono.css);
@import url(../fonts/Poppins/poppins.css);

/* TODO: More than one file, this is bad structure */

:root {
  /* Tokyo Night */
  --black: #1a1b26;
  --light_grey: #c0caf5;
  --dark_grey: #24283b;
  --white: #e0eaf5;
  --red: #f7768e;
  --green: #9ece6a;
  --orange: #e0af68;
  --blue: #7aa2f7;
  --magenta: #bb9af7;
  --cyan: #7dcfff;
  --indigo: #7aa2f7;

  --dark_blue: #5a52f7;

  --bg: var(--black);
  --bg2: var(--dark_grey);
  --fg: #c0caf5;
  --fg2: #a9b1d6;
  --accent-bg: #3d59a1;
  --accent-fg: var(--magenta);

  --font-body: "Poppins", sans-serif;
  --font-mono: "Azeret Mono", mono;
  --font-title: "Inter", sans-serif;
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body.light {
  --bg: #f2f4f8;
  --fg: #414868;
  --fg2: #4c566a;
  --bg2: #e0eaf5;
  --accent-bg: var(--cyan);
  --accent-fg: var(--dark_blue);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font-body);
  transition:
    background 0.3s,
    color 0.3s;
}

div {
  transition:
    background 0.3s,
    color 0.3s;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 5px 5px;
  text-align: center;
}

.appear {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}

.appear.hidden {
  opacity: 0;
  transform: translateX(50%);
  transition: all 0.5s ease;
}

/* Small note:
 * fr - fraction
 * vw - % of viewport width
 * vh - % of viewport height
 */

header {
  z-index: 10;
  grid-area: header;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "toggleDarkmode . nav";
  display: grid;
  color: var(--fg);
  background-color: var(--bg2);
  border-radius: 0px;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* subtle shadow */
  height: fit-content;
  width: 100%;
  position: fixed;
  transition:
    background 0.3s,
    color 0.3s,
    transform 0.3s ease;
}

header.hide {
  transform: translateY(-100%);
}

a {
  text-decoration: none;
  color: var(--accent-fg);
  font-weight: 700;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-bg);
}

nav {
  grid-area: nav;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
}

nav a {
  display: flex;
  flex-grow: 1;
  height: inherit;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 5px;
  color: var(--accent-fg);
  padding: 5px;
}

nav a:hover {
  font-weight: bold;
  background-color: var(--accent-bg);
  color: var(--accent-fg);
  scale: 1.1;
  transition: scale 0.1s ease;
}

.main {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  text-align: center;
  font-size: 3em;
  /* max-height: 100vh; */
  /* overflow-y: auto; */
}

button {
  background-color: var(--accent-bg);
  border: none;
  color: var(--accent-fg);
  padding: 5px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent-fg);
  color: var(--accent-bg);
}

#toggleDarkMode {
  grid-area: toggleDarkmode;
  width: 40px;
  height: 40px;
  border: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: inline-flex;
  border-radius: 50%;
  padding: 0;
  margin: 10px;
}

section {
  scroll-snap-align: start;
  overflow-x: hidden;
}

.landing {
  position: relative;
  box-sizing: border-box;
  display: grid;
  color: var(--fg);
  padding: 0 0 0 10px;
  min-height: 100vh;
  grid-template-columns: 2fr 1fr;
}

.landing::before {
  /* light background */
  content: "";
  position: absolute;
  opacity: 0;
  inset: 0;
  background: linear-gradient(to bottom, #e0eaf5, #f2f4f8);
  z-index: -1;
  transition: opacity 0.3s;
}

.landing::after {
  /* dark background */
  content: "";
  position: absolute;
  opacity: 1;
  inset: 0;
  background: linear-gradient(to bottom, #24283b, #1a1b26);
  z-index: -1;
  transition: opacity 0.3s;
}

body.light .landing::before {
  opacity: 1;
}
body.light .landing::after {
  /* With this we obtain a smooth transition between gradients */
  opacity: 0;
}

.landing__img {
  background-image: url("../imgs/landing.jpg");
  background-position: center;
  background-size: cover;
  height: inherit;
  color: var(--fg2);
}

.landing__text {
  align-content: center;
  justify-content: center;
  color: var(--fg);
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
}

.landing__text h2 {
  font-size: 2em;
  font-weight: 900;
  font-family: var(--font-title);
  color: var(--fg);
  color: var(--fg2);
  margin: 0;
}

.landing__text h3 {
  font-size: 1em;
  font-weight: 500;
  font-family: var(--font-title);
  color: var(--fg);
  color: var(--fg2);
  margin: 0;
}

.socials {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
  left: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 10px;
  max-height: 50px;
  color: var(--fg);
}

.socials svg {
  width: 40px;
  height: 40px;
}

.section2 {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  background-color: var(--bg);
  color: var(--fg2);
  padding: 5px 10px 5px 10px;
}

.section2__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--fg);
  padding: 5px 10px 5px 10px;
}

.section2__divider {
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    /* Rainbow: */ var(--red),
    var(--orange),
    var(--green),
    var(--cyan),
    var(--blue),
    var(--magenta)
  );
  height: 3px;
  width: 80%;
  border-radius: 2px;
}

.uam_logo {
  display: flex;
  width: 200px;
  height: 100px;
  align-content: center;
  align-self: center;
  flex-shrink: 0;
  justify-content: center;
  background: var(--white);
  color: var(--fg);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.uam_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section2 h2 {
  font-size: 1.4em;
  font-weight: 900;
  font-family: var(--font-title);
  color: var(--fg);
  color: var(--fg2);
  margin: 0;
}

.section3 {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--fg2);
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  padding: 5px 10px 5px 10px;
  min-height: 100vh;
}

.section3 h2 {
  font-size: 1.4em;
  font-weight: 900;
  font-family: var(--font-title);
  color: var(--fg);
  color: var(--fg2);
  margin: 0;
}

.section3__images {
  width: calc(60vh + 40px);
  height: calc(60vh + 40px);
  display: flex; /* Only needed if you want flex layout */
  justify-content: space-around;
  align-items: center;
  background: none;
  overflow: visible;
}

.orbit {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  transform-origin: 0 0;
  background: var(--light_grey);
  color: var(--dark_grey);
  width: 48px;
  height: 48px;
  transition:
    width 0.3s,
    height 0.3s;
  overflow: hidden;
}

.orbit img {
  margin: 0;
  width: 40px;
  height: 40px;
}

.orbit p {
  font-size: 16px;
  font-family: var(--font-title);
  transition: all 0.1s;
  opacity: 0;
  margin-left: 0;
  width: 0;
  height: 0;
  transform: translateX(-10px);
}

.orbit:hover {
  z-index: 8;
  width: 300px;
  height: 100px;
  border: 2px solid var(--light_grey);
  transition: all 0.3s;
}

.orbit:hover p {
  transition: all 0.2s ease 0.3s;
  opacity: 1;
  margin-left: 8px;
  transform: translateX(0px);
  width: auto;
  height: auto;
}

.section4 {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2em auto;
  flex-direction: row;
  color: var(--fg2);
  align-items: center;
  align-content: center;
  padding: 5px 10px 5px 10px;
  min-height: 100vh;
  background: var(--bg);
}

.section4 > h2 {
  grid-column: 1;
  grid-row: span 2;
  font-size: 1.4em;
  font-weight: 900;
  font-family: var(--font-title);
  color: var(--fg);
  color: var(--fg2);
  margin: 0;
  text-orientation: upright;
  writing-mode: vertical-lr;
}

.section4__buttons {
  display: block;
  grid-column: 2;
  grid-row: 1;
  font-size: 1.4em;
  font-weight: 900;
  font-family: var(--font-body);
  color: var(--fg2);
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  margin: 0;
}

.section4__buttons button {
  color: var(--accent-fg);
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--accent-bg);
  margin: 5px;
  min-width: 3em;
  text-align: center;
  cursor: pointer;
  transition: scale 0.1s ease;
}

.section4__buttons button:hover {
  font-weight: bold;
  background-color: var(--accent-bg);
  scale: 1.1;
}

.section4__cards {
  position: relative;
  display: flex;
  grid-column: 2;
  grid-row: 2;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.scroll {
  position: absolute;
  display: inline-flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  z-index: 2;
}

.scroll.left {
  left: 0;
}

.scroll.right {
  right: 0;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: visible;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 1rem;
  width: 100%;
  padding: 2%;
  max-width: 100%;
  scroll-snap-type: x mandatory;
  scroll-padding: 2%;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--accent-bg);
  color: var(--accent-fg);
  overflow: hidden;
  flex: 0 0 auto;
  scroll-snap-align: start;
  transition: all 0.3s ease;
}

.card .card__text {
  position: absolute;
  transform: translateY(100%);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  color: var(--fg2);
  background-color: color-mix(in srgb, var(--bg) 70%, transparent);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-title);
  transition: all 0.3s ease;
}

.card.active,
.card:hover {
  transform: scale(1.1);
}

.card.active .card__text,
.card:hover .card__text {
  transform: translateY(0);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--bg);
  color: var(--fg2);
  font-size: 1em;
  font-weight: 600;
  font-family: var(--font-body);
}

/*
 * Phones
 */
@media (max-width: 768px) {
  body {
    margin: 5px 0;
  }

  header {
    display: none;
  }

  .main {
    margin: 0;
  }

  .landing {
    padding: 40px 0 0 0;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .landing__img {
    display: none;
  }

  .section2__title {
    display: none;
  }

  .section4 {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .section4 > h2 {
    display: none;
  }
}
