/* TODO: Fonts */
@import url(../fonts/Inter/inter.css);
@import url(../fonts/CodeSaver/codesaver.css);
@import url(../fonts/Azeret_Mono/azeretmono.css);
@import url(../fonts/Poppins/poppins.css);

/* TODO: More than one file, this is bad structure */

:root {
  /* Tokyo Night */
  --black: #15161e;
  --light_grey: #c0caf5;
  --dark_grey: #414868;
  --white: #e0eaf5;
  --red: #f7768e;
  --green: #9ece6a;
  --orange: #e0af68;
  --blue: #7aa2f7;
  --magenta: #bb9af7;
  --cyan: #7dcfff;

  --dark_blue: #5a52f7;

  --bg: var(--black);
  --bg2: var(--dark_grey);
  --bg3: #4646be;
  --bg4: #691e87;
  --fg: var(--light_grey);
  --fg2: var(--white);
  --accent-bg: var(--dark_blue);
  --accent-fg: var(--magenta);

  --font-body: "Poppins", sans-serif;
  --font-mono: "Azeret Mono", mono;
  --font-title: "Inter", sans-serif;
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body.light {
  --bg: var(--white);
  --fg: var(--dark_grey);
  --fg2: var(--black);
  --bg2: var(--light_grey);
  --bg3: var(--cyan);
  --bg4: var(--magenta);
  --accent-bg: var(--cyan);
  --accent-fg: #3390ff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font-body);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  transition:
    background 0.3s,
    color 0.3s;
}

div {
  transition:
    background 0.3s,
    color 0.3s;
}

.layout {
  display: grid;
  gap: 5px 5px;
  text-align: center;
}

.appear {
  opacity: 0;
  transform: translateX(0);
  transition: all 0.5s ease;
}

/* Small note:
 * fr - fraction
 * vw - % of viewport width
 * vh - % of viewport height
 */

header {
  z-index: 10;
  grid-area: header;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "toggleDarkmode . nav";
  display: grid;
  color: var(--fg);
  background-color: var(--bg2);
  border-radius: 0px;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* subtle shadow */
  height: fit-content;
  width: 100%;
  position: fixed;
  transition:
    background 0.3s,
    color 0.3s,
    transform 0.3s ease;
}

header.hide {
  transform: translateY(-100%);
}

a {
  text-decoration: none;
  color: var(--accent-fg);
  font-weight: 700;
  transition: color 0.3s ease;
}

nav {
  grid-area: nav;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
}

nav a {
  display: flex;
  flex-grow: 1;
  height: inherit;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 5px;
  color: var(--accent-fg);
  padding: 5px;
}

nav a:hover {
  font-weight: bold;
  background-color: var(--accent-bg);
  scale: 1.1;
  transition: scale 0.1s ease;
}

.main {
  text-align: center;
  font-size: 3em;
}

button {
  background-color: var(--accent-bg);
  border: none;
  color: var(--accent-bg);
  padding: 5px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent-fg);
}

#toggleDarkMode {
  grid-area: toggleDarkmode;
  width: 40px;
  height: 40px;
  border: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: inline-flex;
  border-radius: 50%;
  padding: 0;
  margin: 10px;
}

section {
  scroll-snap-type: mandatory;
  scroll-snap-align: start;
}

.landing {
  display: grid;
  background-color: var(--bg2);
  color: var(--fg);
  padding: 0 0 0 10px;
  min-height: 100vh;
  grid-template-columns: 2fr 1fr;
}

.landing__img {
  background-image: url("../imgs/landing.jpg");
  background-position: center;
  background-size: cover;
  height: inherit;
  color: var(--fg2);
}

.landing__text {
  align-content: center;
  justify-content: center;
  color: var(--fg);
  padding: 5px 10px 5px 10px;
}

.landing__text h2 {
  font-size: 2em;
  font-weight: 900;
  font-family: var(--font-title);
  color: var(--fg);
  color: var(--fg2);
  margin: 0;
}

.landing__text h3 {
  font-size: 1em;
  font-weight: 500;
  font-family: var(--font-title);
  color: var(--fg);
  color: var(--fg2);
  margin: 0;
}

.section2 {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  background-color: var(--bg3);
  color: var(--fg2);
  padding: 5px 10px 5px 10px;
}

.section2__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--fg);
  padding: 5px 10px 5px 10px;
}

.section2__divider {
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    /* Rainbow: */ var(--red),
    var(--orange),
    var(--green),
    var(--cyan),
    var(--blue),
    var(--magenta)
  );
  height: 3px;
  width: 80%;
  border-radius: 2px;
}

.section2__title {
  align-content: center;
  flex-shrink: 0;
  justify-content: center;
  color: var(--fg);
  padding: 5px 10px 5px 10px;
}

.section2 h2 {
  font-size: 1.4em;
  font-weight: 900;
  font-family: var(--font-title);
  color: var(--fg);
  color: var(--fg2);
  margin: 0;
}

.section3 {
  display: flex;
  flex-direction: column;
  background-color: var(--bg4);
  color: var(--fg2);
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  padding: 5px 10px 5px 10px;
  min-height: 100vh;
}

.section3 h2 {
  font-size: 1.4em;
  font-weight: 900;
  font-family: var(--font-title);
  color: var(--fg);
  color: var(--fg2);
  margin: 0;
}

.section3__images {
  width: calc(60vh + 40px);
  height: calc(60vh + 40px);
  display: flex; /* Only needed if you want flex layout */
  justify-content: space-around;
  align-items: center;
  background: none;
  overflow: visible;
}

.orbit {
  display: flex;
  color: var(--black);
  position: absolute;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  transform-origin: 0 0;
  background: var(--white);
  width: 48px;
  height: 48px;
  transition:
    width 0.3s,
    height 0.3s;
  overflow: hidden;
}

.orbit img {
  margin: 0;
  width: 40px;
  height: 40px;
}

.orbit p {
  font-size: 16px;
  font-family: var(--font-title);
  transition: all 0.1s;
  opacity: 0;
  margin-left: 0;
  width: 0;
  height: 0;
  transform: translateX(-10px);
}

.orbit:hover {
  z-index: 8;
  width: 300px;
  height: 100px;
  border: 2px solid var(--light_grey);
  transition: all 0.3s;
}

.orbit:hover p {
  transition: all 0.2s ease 0.3s;
  opacity: 1;
  margin-left: 8px;
  transform: translateX(0px);
  width: auto;
  height: auto;
}

.section4 {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2em auto;
  flex-direction: row;
  /* TODO: Color */
  background-color: var(--black);
  color: var(--fg2);
  align-items: center;
  align-content: center;
  padding: 5px 10px 5px 10px;
  min-height: 100vh;
}

.section4 h2 {
  grid-column: 1;
  grid-row: span 2;
  font-size: 1.4em;
  font-weight: 900;
  font-family: var(--font-title);
  color: var(--fg);
  color: var(--fg2);
  margin: 0;
  text-orientation: upright;
  writing-mode: vertical-lr;
}

.section4__buttons {
  display: block;
  grid-column: 2;
  grid-row: 1;
  font-size: 1.4em;
  font-weight: 900;
  font-family: var(--font-body);
  color: var(--fg2);
  overflow: hidden;
  margin: 0;
}

.section4__buttons li {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--accent-bg);
  margin: 5px;
  min-width: 3em;
  text-align: center;
  cursor: pointer;
}

.section4__buttons li:hover {
  background-color: var(--bg2);
}

.section4__cards {
  position: relative;
  display: flex;
  grid-column: 2;
  grid-row: 2;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

/* TODO: Make it snap and mobile-friendly */
.scroll {
  display: inline-flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  z-index: 2;
}

.scroll.left {
  right: 0;
}

.scroll.right {
  left: 0;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  scroll-snap-type: x mandatory;
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.container::before {
  left: 30px;
  background: linear-gradient(to right, var(--black), transparent);
}

.container::after {
  right: 30px;
  background: linear-gradient(to left, var(--black), transparent);
}

.card {
  width: 400px;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--black);
  overflow: hidden;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
 * Phones
 */
@media (max-width: 768px) {
  body {
    margin: 5px 0;
  }

  header {
    display: none;
  }

  .main {
    margin: 0;
  }

  .landing {
    padding: 40px 0 0 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .landing__img {
    display: none;
  }

  .section2__title {
    display: none;
  }
}
